.table {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card {
    width: 70px;
    height: 110px;

    border: solid black 2px
}



.dealer{
    display: flex;
}

.player{
    display: flex;
}

.options {
    height: 20vh;
    margin: 30px;
}